<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">
<!--/Head-->
<head>
    <title>Movie Not Found</title>
    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/notfound/css/style.css') }}" type="text/css" media="all">
    <!--/google-fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500&display=swap" rel="stylesheet">
    <!--//google-fonts-->
    </head>
<!-- //Head -->
<!-- Body -->
<body>
   <!-- 404 error page -->
   <!--/Error-Page-->
  <section class="w3l-errorhny-main">
    <div class="w3l-errorhnyhny-content">
      <h1 aria-label="404"></h1>
      <div class="errorhnyhny-info">
        <h2 class="err-text">Movie Not Found</h2>
        <p>Hmm, the movie you were looking for doesn't seem to have been added yet.</p>
        <a href="{{ url_for('home') }}" class="btn btn-style btn-outline-light mt-sm-5 mt-4">Back to Home</a>
      </div>
    </div>
    <!-- <div class="w3layouts-copyright"> -->
        <!-- <p class="copy-footer-29">© 2021 Upward Error Page. All rights reserved.Design by<a href="https://w3layouts.com/" target="_blank"> -->
            <!-- W3layouts</a></p> -->
    <!-- </div> -->
  </section>
  <!--//Error-Page-->

</body>
<!-- //Body -->
</html>
